.btn-menu{
    background-color: darkgray;
}

/* body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
    width: 1200px;
} */
/* 
.header-container{ 
    font-family: initial;
    padding: 20px;
    background-color: lawngreen;
    float: right;
}

input[type="text"], textarea{
    width: 600px;
    box-sizing: border-box;
}

textarea{
    height: 120px;
}

.error{
   font-family: Georgia, 'Times New Roman', Times, serif; 
   color:magenta
}

.delete{

    
} */ 